<mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile>
                <img alt="data" src="assets/images/digital.jpg">
        </mat-grid-tile>
        <mat-grid-tile>
                <img alt="data" src="assets/images/digital 1.jpg">
        </mat-grid-tile>
        <mat-grid-tile>
                <img alt="data" src="assets/images/digital 2.jpg">
        </mat-grid-tile>
        <mat-grid-tile>
                <img alt="data" src="assets/images/digital 3.jpg">
        </mat-grid-tile>
 </mat-grid-list>