 .tabs {
     margin: 0;
     padding: 0;
     list-style: none;
     display: table;
     table-layout: fixed;
     width: 100%;
 }

 .tabitem {
     display: table-cell;
 }

 .tablink {
     display: block;
 }

 .primary-nav {
     text-align: center;
     border-radius: 4px;
     overflow: hidden;
 }

 .primary-nav a {
     padding: 1em;
     background-color: #BADA55;
     color: #fff;
     font-weight: bold;
     text-decoration: none;
 }

 .primary-nav a:hover {
     background-color: #A3C43B;
 }

 html {
     font: 0.75em/1.5 sans-serif;
 }