<ul class="tabs  primary-nav" (click)="onTabChange($event)">
  <li class="tabitem">
    <a class="tablink" routerLink="/home" routerLinkACtive="active">Home</a>
  </li>
  <li class="tabitem">
    <a class="tablink" routerLink="/about" routerLinkACtive="active">About</a>
  </li>
  <li class="tabitem">
    <a class="tablink" routerLink="/career" routerLinkACtive="active">Career</a>
  </li>
  <li class="tabitem">
    <a class="tablink" routerLink="/contact" routerLinkACtive="active">Contact</a>
  </li>
</ul>