<div>
  <form class="formalign" [formGroup]="form">
    <mat-form-field>
      First Name:<input matInput placeholder="firstName" formControlName="firstName">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
    <mat-form-field>
      Last Name <input matInput placeholder="lastName" formControlName="lastName">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
    <mat-form-field>
      Email <input matInput placeholder="email" formControlName="email">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
    <mat-form-field>
      Phone Number <input matInput placeholder="phoneNumber" formControlName="phoneNumber">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
    <button>Submit</button>
  </form>
</div>